.smoke-problem-background {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.smoke-problem-background canvas {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
